@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #161515;
    color: white;
}

#container {
    background-color: black;
    color: white;
}

#container .ql-editor {
    width: 100%;
    min-height: 7in;
    /* padding: 1in; */
    /* margin: 0.5rem; */
}

#container.ql-container.ql-snow {
    border-color: gray;
    border-width: 0.20rem;
    display: flex;
    align-items: center;
    /* margin-top: 5rem; */
}

.ql-toolbar.ql-snow {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 25px;
    font-size: 2rem;
    z-index: 2;
    color: white;
    background-color: #808080;

}

@page {
    margin: 1rem;

}

@media print {
    body {
        background: none !important;
        color: #000000 !important;
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    body {
        overflow: hidden;
    }

    .navbar {
        display: none !important;
    }

    .ql-toolbar.ql-snow {
        display: none !important;
    }

    .ql-container.ql-snow {
        border: none !important;
        color: #000000 !important;
        background: #ffffff !important;
    }

    .ql-editor {
        color: #000000 !important;
    }
}
